@import "../../styles/mixins";
.MainLeft {
  @include adaptiv-value('min-width', 200, 140, 1);
  background: #000000cf;
  backdrop-filter: blur(2px);
  padding: 8px 8px 12px;
}

h1 {
  background: #49362e;
  margin: 0 0 16px;
}

.filter_body {
  padding-left: 12px;
}

.filter_item {
  list-style: none;
}