@import "../../styles/mixins";

.ProductContainer.grid {
  display: flex;
  background: #F3F3F3;
  border: 4px solid #A1857A;
  max-width: 300px;

  .Product {
    position: relative;
    padding: 10px;
    display: flex;
    gap: 6px;
    flex-direction: column;
    justify-content: space-between;
  }

  .img {
    img {
      width: 100%;
      height: 20%;
      object-fit: cover;
    }
  }

  .body {
    padding: 0px;
  }

  .title {
    font-size: 14px;
    text-align: center;
    padding: 10px 0;
    color: #A1857A;
    font-weight: bold;
  }

  .article {
    font-size: 12px;
    color: #49362E;
  }

  .articleText {
    font-weight: bold;
  }

  .articleValue {
  }

  .color {
    font-size: 12px;
    color: #49362E;
  }

  .colorText {
    font-weight: bold;
  }

  .colorValue {
  }

  .bottom {
    display: flex;
    gap: 10px;
    justify-content: right;
    padding-top: 8px;
    border-top: 2px solid #A1857A;
  }

  .actions {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .cart,
  .favorites {
    cursor: pointer;
    transition: all 300ms ease;
  }

  .cart {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .inCartTxt {
    font-size: 14px;
    color: #49362E;
    font-weight: bold;
    text-transform: uppercase;
  }

  .inCartCount {
    font-size: 16px;
    color: #49362E;
    font-weight: bold;
    text-transform: uppercase;
  }

  .favorites {
    position: absolute;
  }

  .price {
    text-align: center;
    font-size: 18px;
    color: #1479D8;
    font-weight: bold;
  }

  .sum {
  }

  .currency {
  }

  .modalAddCart {
    display: flex;
    font-weight: normal;
    gap: 10px;

    .title,
    .price {
      padding: 0;
      font-size: 14px;
      color: #FFFFFF;
    }
  }
}

.ProductContainer.layout {
  display: flex;
  background: #F3F3F3;
  border: 4px solid #A1857A;
  width: 100%;

  .Product {
    width: 100%;
    padding: 10px;
    display: grid;
    gap: 6px;
    grid-template-columns: 50% 48%;
    grid-template-areas:
      "body body"
      ". price"
      ". bottom";
  }

  .img {
    grid-area: img;
    padding: 0 20px;

    img {
      width: 75%;
      height: 166px;
      object-fit: contain;
    }
  }

  .body {
    grid-area: body;
    padding: 0px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40px 20px 40px;
    grid-template-areas:
      "img title"
      "img article"
      "img color";
  }

  .title {
    grid-area: title;
    font-size: 16px;
    text-align: center;
    padding: 10px 0;
    color: #A1857A;
    font-weight: bold;
  }

  .article {
    grid-area: article;
    font-size: 12px;
    color: #49362E;
  }

  .articleText {
    font-weight: bold;
  }

  .articleValue {
  }

  .color {
    grid-area: color;
    font-size: 12px;
    color: #49362E;
  }

  .colorText {
    font-weight: bold;
  }

  .colorValue {
  }

  .bottom {
    grid-area: bottom;
    display: flex;
    gap: 10px;
    justify-content: right;
    padding-top: 8px;
    border-top: 2px solid #A1857A;
  }

  .actions {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .cart,
  .favorites {
    cursor: pointer;
    transition: all 300ms ease;
  }

  .cart {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .inCartTxt {
    font-size: 14px;
    color: #49362E;
    font-weight: bold;
    text-transform: uppercase;
  }

  .inCartCount {
    font-size: 16px;
    color: #49362E;
    font-weight: bold;
    text-transform: uppercase;
  }

  .favorites {
    position: absolute;
  }

  .price {
    grid-area: price;
    text-align: center;
    font-size: 18px;
    color: #1479D8;
    font-weight: bold;
  }

  .sum {
  }

  .currency {
  }

  .modalAddCart {
    display: flex;
    font-weight: normal;
    gap: 10px;

    .title,
    .price {
      padding: 0;
      font-size: 14px;
      color: #FFFFFF;
    }
  }
}